<div class="container">
	<h2>Registro Empleado</h2>
	<form role="form">
		<div class="form-group">
	        <label for="nombre">Nombre:</label>
	        <input type="text" id="nombre" placeholder="Nombre" class="form-control" ng-model="nuevoEmpleado.nombre">
		</div>
		<div class="form-group">
	        <label for="apellido">Apellido:</label>
	        <input type="text" id="apellido" placeholder="Apellido" class="form-control" ng-model="nuevoEmpleado.apellido">
		</div>
		<div class="form-group">
	        <label for="salario">Salario:</label>
	        <input type="text" id="salario" placeholder="Salario" class="form-control" ng-model="nuevoEmpleado.salario">
		</div>
		<div class="form-group">
	        <label for="telefono">Telefono:</label>
	        <input type="text" id="telefono" placeholder="Telefono" class="form-control" ng-model="nuevoEmpleado.telefono">
		</div>
		<div class="form-group">
	        <label for="email">E-Mail:</label>
	        <input type="email" id="email" placeholder="E-Mail" class="form-control" ng-model="nuevoEmpleado.email">
		</div>
		<button type="submit" class="btn btn-success" ng-click="guardarEmpleado()">Registrar</button>
		<button  class="btn btn-primary" ng-click="irInicio()">Inicio</button>
	</form>
</div>								