.container{
	position:relative;
	padding:20px 20px;
}

.wrapper{
	padding: 40px 15px;
	width: 600px;
	margin: 0 auto;
	text-align: center;
}

.title{
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}

table{
	margin: 0 auto;
}

table, td, tr{
	border: 1px solid black;
}