body{
	padding-top: 50px;
	padding-bottom: 50px;
}

h1{
	margin-top: 20px;
	margin-bottom: 10px;
}

.container{
	position: relative;
	padding: 20px;
}

.wrapper {
	padding: 40px 15px;
	width: 600px;
	margin: 0 auto;
	text-align: center;
}

.title{
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}

.forecast-block{
	font-size: 30px;
	font-weight: bold;
	font-family: fantasy;
}

.normal-font{
	font-family: fantasy;
}

.danger-font{
	font-size: 25px;
	font-family: fantasy;
	color: red;
}

ul.cast > li{
	display: inline-block;
	width: 200px;
	vertical-align: top;
}

ul.cast >li>span{
	font-weight: bold;
	font-size: 1.2em;
}

ul.cast dt{
	font-size:25px;
	color: #8B969E;
}

ul.cast dd{
	font-size:20px;
}